{% extends 'base.html' %}
{% load static %}
{% block title %} Dental services offered at East Colfax Avenue {% endblock %}
{% block meta_description %} Affordable Dental services at East Colfax Avenue Denver Colorado (Call us Now){% endblock %}
{% block content %}

  <div class="page-banner overlay-dark bg-image" style="background-image: ">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="{% url 'locations' %}">locations</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">East Colfax Avenue DS</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-bonding-dental-group-denver.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental bonding</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-bonding-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-bridges-denver-group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental bridges</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-bridges-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-routin-checkup-denver-group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental checkup</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-checkup-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
        <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-crowns-denver-group.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental crowns</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-crowns-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/Implant-denver-dental-group.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental implants</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-implants-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/invisalign-denver-group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental invisalign</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-invisalign-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
     
     <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dentures-dental-denver.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue partial dentures</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'partial-dentures-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental whitening denver dental group.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental teeth whitening</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-teeth-whitening-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/composite fillings denta group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue dental white composite fillings</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dental-white-composite-fillings-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>

    <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/wisdom-teeth-denver.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue wisdom teeth removal</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'wisdom-teeth-removal-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/tablet-smile-image.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue smile imaging technology</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'smile-imaging-technology-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/generaldentistrydenvergroup.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>East Colfax Avenue general dentistry</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'general-dentistry-service' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
 </div>

  </div>
     </div>
      </div>
     </div>
     </div>    
    </div> <!-- .container -->
  </div> <!-- .banner-home -->
{% endblock %}
  