{% extends 'base.html' %}
{% load static %}
{% block title %} Appointment Page {% endblock %}
{% block meta_description %}We Will be happy to Assist you Give us Call today {% endblock %}

{% block content %}

  <div class="page-banner overlay-dark bg-image" style="background-image: url({% static 'website/img/bg_image_1.jpg' %});">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Appointment</li>
          </ol>
        </nav>       
        
        <h1 class="font-weight-normal">Appointment</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->
        <center>
        <h1>Review your information:</h1>

          <p>{{your_name}}</p>
          <p>{{your_email}}</p>
          <p>{{your_date}}</p>
          <p>{{your_departement}}</p>
          <p>{{your_phone}}</p>
          <p>{{your_message}}</p>
          </center>  
  
  </div> <!-- .banner-home -->
{% endblock %}
  

















