{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div class="page-hero bg-image overlay-dark" style="background-image: url({% static 'website/img/happy-team-dentist-dental-group.jpg' %});" alt="dental denver happy group">
    <div class="hero-section">
      <div class="container text-center wow zoomIn">
        <h1 class="display-4">Dental Denver Group</h1>
        <a href="tel:+18054533585" target="_blank" class="btn btn-primary">Call Now (+668) 886-323 43</a>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-secondary text-white">
                <span class="mai-chatbubbles-outline"></span>
              </div>
              <p><span>Chat</span> Live Now</p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-primary text-white">
                <span class="mai-shield-checkmark"></span>
              </div>
              <p><span>Clinic Management</span></p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-accent text-white">
                <span class="mai-basket"></span>
              </div>
              <p><span>Invisalign Provider</span></p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .page-section -->

    <div class="page-section pb-0">
      <div class="container">
            
            <h2>Dental Group Denver Castle rock Co</h2><br/>
              <p class="text-grey mb-4">
              If you’re looking for a dentist near Castle Rock, CO, look no further! Our Castle Rock dental group is the perfect place for anyone who needs regular checkups and routine care. We offer an array of services that will keep your smile healthy and beautiful.<br/><br/>
 
              Our team of caring professionals is dedicated to your dental health and comfort.<br/><br/> 
              We’re happy to answer any questions you might have, and we look forward to helping you achieve and maintain a beautiful smile.<br/><br/>
 
              <a href="https://en.wikipedia.org/wiki/Castle_Rock,_Colorado" target="_blank">Our dental Group in Castle Rock co <a/> can help you take care of your teeth and gums. We have dentists, dental hygienists, and dental assistants on staff who can serve you and your family.<br/><br/>

              </p>
               <img src="{% static 'website/img/the Group of Dental.jpg' %}" class="img-fluid" alt="Max-width 100%" alt-text="dental group castle rock co">
               
              <br/><br/> 
              <h2>Dental Services</h2><br/>
              <p class="text-grey mb-4">
               Castle Rock Dental offers a variety of dental services to help you maintain optimal oral health.<br/><br/>
               From preventive care to restorative treatments, our dentists will work with you to create a personalized treatment plan that meets your needs. We welcome patients of all ages and offer convenient appointment times.
 
              Our services include:<br/><br/>
 
              <strong>Preventive Care:</strong> We offer comprehensive preventive care services to help you maintain healthy teeth and gums. Our dentists will provide routine dental cleanings and exams, as well as X-rays and other diagnostic tests, to help identify any potential problems early on.<br>
              We also offer preventive treatments, such as fluoride therapy and dental sealants, to protect your teeth from decay.<br>

              <strong>Restorative Dentistry:</strong> If you have suffered damage to your teeth, our dentists can provide a variety of restorative treatments to restore your smile. We offer dental crowns, bridges, and dentures to replace missing teeth, as well as dental implants to replace damaged or missing teeth. We also offer tooth-colored fillings and root canal therapy to treat cavities and infection.
              <br><br/>
 
              <strong>Cosmetic Dentistry:</strong> Our dentists offer a variety of cosmetic treatments to improve the appearance of your teeth. We offer teeth whitening, dental veneers, and Invisalign to straighten teeth.<br/>
              We also offer dental implants to replace missing teeth and fix gaps between teeth.<br><br/>
 
              <strong>Emergency Dentistry:</strong> We offer emergency dentistry services to patients who have suffered a dental emergency. We can provide same-day appointments for patients who are in pain or have lost a tooth. We also offer 24-hour emergency services for patients who require urgent care.
              <br/>

              <strong>Oral Surgery:</strong> you can rely on us for surgical procedures such as extractions or implant placement.<br/>

              <strong>Periodontics:</strong> we offer procedures that help prevent tooth decay by removing plaque and tartar build up.<br/>
                
                <p class="text-grey mb-4">Our emergency dentistry services include</li>
                <ul>
                 <li><p class="text-grey mb-4">Dental Exams</li>
                 <li><p class="text-grey mb-4">Tooth Extractions</li>
                 <li><p class="text-grey mb-4">Dental Emergencies</li>
                 </p></ul>
                 <img src="{% static 'website/img/tooth extraction Denver.jpg' %}" class="img-fluid" alt="Max-width 100%" alt-text="tooth extraction castle rock co">
                <br/><br/> 

              <h2>Professional Denver Dental Group Service Plans / Cost</h2><br/>
              <p class="text-grey mb-4">
               When comparing dental plans and finding the option that best suits your needs.
               We have developed this website to educate you and your family about the various dental services you may need.<br><br/>
               Whether you are looking for information on implants, tooth whitening, crowns or preventive care, you can find more information on all your options on the Best Dental Group Services page.
               <br><br/>

               We pride ourselves on providing comfortable and pain-free dental care for all our patients, as well as providing aesthetic and restorative dentistry. 
               <br><br/>

               Dental Denver Group, offers the latest cosmetic dental services including bonding and veneers, whitening and dental implants.
               <br><br/>

               Whether it's veneers, glows, crowns, implants or bridges, we offer a wide range of services to help you achieve the beautiful, radiant smile you've always dreamed of.
              </p>
              <br><br/>

              <h2>Average Cost of Dental Implants in Castle Rock Co</h2><br/>
              <p class="text-grey mb-4">
              The national average rate in 2007 was $1,600 a year however some areas are far more expensive than others. For example: -In Aurora ($3K per tooth) and Boulder/Pueblo County (-$400 to be done each time). This would make Castle Rock typical yearly total annual costs about $34K compared with most other cities which come at around half that level.Contact us For more info 
              </p>
               
               <img src="{% static 'website/img/dental implantation coast.jpg' %}" class="img-fluid" alt="Max-width 100%" alt-text="dental implants castle rock co">
               <!-- call section -->
               <br/><br/> 
              <h2>Here Are Tips to Save Money on Dental Services</h2>
              
              <p class="text-grey mb-4">Listed Below:
              <ol>  
              <li><p class="text-grey mb-4">Check with your insurance company. Many policies cover at least part of the cost of routine dentist visits.</li>
              <li><p class="text-grey mb-4">Ask your dentist about financing options. Many dentists offer flexible payment plans that make it easier for you to get the care you need.</li>
              <li><p class="text-grey mb-4">Check with your insurance company. Many dental procedures are covered by insurance, so be sure to check with your provider to see what treatments are covered and to find out about any copayments or deductibles you may be responsible for.</li>
              <li><p class="text-grey mb-4">Search for dental scholarships. There are a number of scholarships available to help students pay for dental school or to cover the costs of dental care. Do some research online or talk to your dentist or local dental society to find out more about these opportunities.</li></ol>

              <div class="page-section pb-0">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-6 py-3 wow fadeInUp">
                    <h2>Money Saving Dental Care tips Giveaway<br></h2>
                <p class="text-grey mb-4">
                  Dental care is an important part of overall health, but it can be expensive to maintain regular dental visits. The good news is that there are a number of ways to save money on dental services, whether you’re looking for general care or more specialized treatment.
                  </p>
                  <a href="about.html" class="btn btn-success">Download Free PDF</a>
              </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                  <div class="img-place custom-img-1">
              <img src="{% static 'website/img/pdf-file-denver-dental-clinic.png' %}" alt="save money dental services Free pdf">
                  </div>
                 </div>
                </div>
               </div>
            </div> <!-- .bg-light -->
            <br></br>
              
              <h2>Castle Rock Dental Group Consultants</h2>
              <br></br>
              
              <p class="text-grey mb-4">
              <strong>Dental castle rock consultants</strong>, can help you manage your dental clinic by providing guidance, assistance, and support in a variety of areas.<br/><br>

              The Services offered by a consulting firm will depend on the focus of the company, but they typically offer marketing guidance, staff training, and general business operation assistance.
              <br/><br>
              A dental consultants can also provide you with a competitive standpoint on your pricing and marketing methods.
              <br/><br>

              By hiring a consultant to manage your dental clinic, you will be able to focus more on patient care without worrying about the day-to-day operations of the dental practice.
              <br/><br>

              There are many benefits to using a dental clinic consultant such as increased revenue through cost-cutting measures and increased earnings through marketing strategies.
              <br/><br>

              But it’s important to consider how much time you want to dedicate to running your office before choosing which route is best for your practice. 
             
              <br></br>
              
              </div>

  <div class="page-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h3>Dental Emergency?<br></h3>
              <p class="text-grey mb-4">
              We also offer emergency service, when necessary. All of our dentists are licensed and knowledgeable, as well as friendly and approachable.
            </p>
            <a href="about.html" class="btn btn-outline-danger">Call Us Now(866) 645-947</a>
          </div>
          <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
            <div class="img-place custom-img-1">
              <img src="{% static 'website/img/emergency-denver.png' %}" alt="dental denver group emergency number">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .bg-light -->
  </div> <!-- .bg-light -->

  <div class="page-section bg-light">
    <div class="container">
      <h3 class="text-center wow fadeInUp">Dental Services</h3>
      <div class="row mt-5">
        <div class="col-lg-4 py-2 wow zoomIn">
          <div class="card-blog">
            <div class="header">
              <div class="post-category">
                <a href="{% url 'dental-teeth-whitening' %}">Dental Teeth whitening</a>
              </div>
              <a href="{% url 'dental-teeth-whitening' %}" class="post-thumb">
                <img src="{% static 'website/img/dental whitening denver dental group.png' %}" alt="">
              </a>
            </div>
            <br>
            <div class="body">
              <h5 class="post-title">
              <center> <strong><a href="{% url 'dental-teeth-whitening' %}">
              Denver Dental Group Teeth Whitening</a></h5>
              </strong></center>
              <div class="site-info">
                <div class="avatar mr-2">

                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-2 wow zoomIn">
          <div class="card-blog">
            <div class="header">
              <div class="post-category">
                <a href="{% url 'dental-smile-imaging-technology' %}">Dental Smile imaging tech</a>
              </div>
              <a href="{% url 'dental-smile-imaging-technology' %}" class="post-thumb">
                <img src="{% static 'website/img/tablet-smile-image.png' %}" alt="dental smile fix technology">
              </a>
            </div>
            <br>
            <div class="body">
              <center><h5 class="post-title">
                <strong><a href="{% url 'dental-smile-imaging-technology' %}">Denver Dental Group Smile Imaging Tech</a></strong></h5></center>
              <div class="site-info">
                <div class="avatar mr-2">
                  <div class="avatar-img">
                    
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-2 wow zoomIn">
          <div class="card-blog">
            <div class="header">
              <div class="post-category">
                <a href="{% url 'dental-invisalign' %}">Dental Invisalign</a>
              </div>
              <a href="{% url 'dental-invisalign' %}" class="post-thumb">
                <img src="{% static 'website/img/invisalign-denver-group.jpg' %}" alt="dental services">
              </a>
            </div>
            <br>
            <div class="body">
              <center><h5 class="post-title">
                <strong><a href="{% url 'dental-invisalign' %}">Dental Denver Group Invisalign</a></strong>
              </h5></center>
              <div class="site-info">
                <div class="avatar mr-2">
                  <div class="avatar-img">
                    
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-center mt-4 wow zoomIn">
          <a href="{% url 'services' %}" class="btn btn-info">Denver Dental Group Services</a>
        </div>

      </div>
    </div>
  </div> <!-- .page-section -->

  <div class="page-section">
    <div class="container">
      <h3 class="text-center wow fadeInUp">Schedule Your Appointment Today!</h3>
     
     <form action="{% url 'appointment' %}" method="POST">
      {% csrf_token %}
      <form class="main-form">
        <div class="row mt-5 ">
          <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
            <input type="text" name="your-name" class="form-control" placeholder="Full name">
          </div>
          <div class="col-12 col-sm-6 py-2 wow fadeInRight">
            <input type="email" name="your-email" class="form-control" placeholder="Email address..">
          </div>
          <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
            <input type="date" name="your-date" class="form-control">
          </div>
          <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
            <select name="your-departement" id="departement" class="custom-select">
              <option value="general">General Health</option>
              <option value="cardiology">Cardiology</option>
              <option value="dental">Dental</option>
              <option value="neurology">Neurology</option>
              <option value="orthopaedics">Orthopaedics</option>
            </select>
          </div>
          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <input type="text" name="your-phone" class="form-control" placeholder="Number..">
          </div>
          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <textarea name="your-message" id="message" class="form-control" rows="6" placeholder="Enter message.."></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Submit Request</button>
      </form>
    </div>
  </div> <!-- .page-section -->

       <div class="page-hero bg-image overlay-dark" style="background-image: url({% static 'website/img/consultants1.jpg' %});" class="img-fluid" alt="Max-width 100%" alt-text="dental emergency service">
        <div class="hero-section">

      <div class="page-section pb-0">
        <div class="container-fluid">
          <center>
            <div class="col-lg-6 py-3 wow fadeInUp">
               <p class="text-black mb-4">
 
              If you are interested in learning more about our dental Denver group, please call us today at (701) 423-0021 to schedule an appointment. We would be happy to help you achieve a healthy and beautiful smile!
            </p>
            <a href="about.html" class="btn btn-primary">Call us Now</a>
          </div>
          
        </div>
      </div>
    </div>
  </center>
  <br/>

  
  {% endblock %}
  