{% extends 'base.html' %}
{% load static %}
{% block title %} Dental services offered at South Gaylord Street {% endblock %}
{% block meta_description %} Affordable Dental services at South Gaylord Street Denver Co (Call Us Now) {% endblock %}
{% block content %}

  <div class="page-banner overlay-dark bg-image" style="background-image: ">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="{% url 'locations' %}">locations</a></li>
            <li class="breadcrumb-item active" aria-current="page">South Gaylord Street</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">South Gaylord Street DS</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-bonding-dental-group-denver.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street dental bonding</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uarbi' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-bridges-denver-group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street dental bridges</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uarbis' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-routin-checkup-denver-group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street dental checkup</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uap' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
        <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental-crowns-denver-group.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street dental crowns</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uapi' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/implant-denver-dental-group.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street dental implants</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uelp' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/invisalign-denver-group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street invisalign</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uelpi' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
     
     <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dentures-dental-denver.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street partial dentures</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uad' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/dental whitening denver dental group.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street dental teeth whitening</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uadi' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/composite fillings denta group.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street dental white composite fillings</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uadis' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>

    <div class="page-section">
    <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/wisdom-teeth-denver.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street wisdom teeth removal</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uahi' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/tablet-smile-image.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street smile imaging technology</strong></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uajni' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'website/img/generaldentistrydenvergroup.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><strong>South Gaylord Street general dentistry</strong></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'uadsi' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
 </div>

  </div>
     </div>
      </div>
     </div>
     </div>    
    </div> <!-- .container -->
  </div> <!-- .banner-home -->
{% endblock %}
  